.templatesContent {
  padding: 20px;
}

.dragNDrop {
  margin-bottom: 10px;

  padding: 5px;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  &__content {
    background-color: rgba(10, 10, 10, 0.1);
    padding: 20px;
    border: 1px dashed lightgray;

    text-align: center;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  align-items: center;

  margin-bottom: 10px;

  padding: 20px;
}

.headerActions {
  width: 420px;

  &__search {
    width: 280px;
  }

  &__button {
    height: 56px;
    width: 130px;
    margin-left: 10px;
    padding: 0 20px;

    border-radius: 4px;
  }
}
