@import "../../../styles/mixins/layouts";

.preregister {
  @include center;

  &__container {
    width: 100%;
    height: 100%;
    background: #f2f5f7;
    padding: 50px;
  }

  &__buttonBox {
    margin-top: 20px;
    color: #EEEEEE;
  }

  &__button {
    margin-top: 20px !important;
    margin-left: 33%;
  }

  &__buttonBack {
    margin-top: 20px !important;
    margin-left: 15%;
  }

  &__box {
    margin-top: 2% !important;
    width: 90% !important;
    height: 70%;
    margin-left: 5%;
    padding: 10px;
  }

  &__title {
    width: 1000px;
    justify-content: center;
  }
}

.header {

  &__container {
    position: relative;
    min-width: 240px;
    margin: 0;
    padding: 0;
  }

  &__bgnd {
    background-image: url(../../../images/brand/HEADER_BGND.png);
    text-align: center;
    background-size: contain;
    min-height: 53px;
  }

  &__logo {
    width: 12%;
    min-height: 53px;
    max-width: 160px;
    float: left;
  }

  &__logoBar {
    width: 62%;
    min-height: 53px;
    max-width: 394px;
    padding-right: 5%;
  }
}