@import "../../../../styles/mixins/shadows";

.menuOption {
  &__label {
    &--active {
      background-color: rgb(171, 207, 149);
    }
  }
}

.menuOptionItem {
  display: flex;
  flex-flow: row nowrap;
}

.menuOptionsContainer { 
  @include shadow;
  
  background-color: white;
}