.sheetNavigator {
  display: flex;
  flex-flow: row nowrap;

  height: 40px;
  padding-left: 40px;
  
  
  &__droppable {
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
  }

  &__draggable {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    min-width: fit-content;

    padding: 10px;

    border: 2px solid lightgray;

    &--active {
      background-color: white;
    }

    &--inactive {
      background-color: #DADCE0;
    }
  }
}