.formulaBar {
  display: flex;

  height: 30px;

  &__icon {
    font-size: 20px;
    font-family: "Times New Roman", serif;
    font-style: italic;

    text-align: center;

    width: 40px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__input {
    padding: 0 5px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
}