@import "../../../../../styles/mixins/shadows";

.activeCell {
  position: absolute;
  outline: 2px solid rgba(75, 135, 255, 0.8);
  outline-offset: -2px;
  
  &--editMode {
    @include shadow;
    
    height: fit-content !important;
    width: fit-content !important;
    background-color: white;
    z-index: 1;

    overflow: auto;
  }

  &--normalMode {
    pointer-events: none;
  }
}

.dialog {
  display: flex;
  flex-flow: column nowrap;

  padding: 20px;
  border: 1px solid green;
  border-radius: 3px;

  background-color: white;

  width: 300px;

  max-height: 600px;

  &__label {
    margin-bottom: 10px;
  }

  &__field {
    margin-bottom: 10px;
  }

  &__list {
    overflow: auto;
  }

  &__actions {
    position: sticky;
    bottom: 0;
    background-color: white;
  }
}

.businessConcepts {
  max-width: 500px;
  &__item {
    display: flex;
  }

  &__id {
    width: 100px;
  }
}

.field {
  margin-bottom: 10px;
  display: flex;

  &__input {
    margin: auto 0;
  }

  &__label {
    text-align: center;

    height: fit-content;
    
    margin-right: 15px;

    min-width: 90px;

    background-color: #3F51B5;
    border-radius: 3px;

    padding: 7px 15px;
    color: white;
  }

  &__select {
    width: 100%;
    background-color: white;
  }
}
