// ! Clean up CSS
.groups {
  width: 1000px;

  max-height: 450px;

  &__groupSection {
    display: flex;
    flex-flow: column;
  }

  &__groupSectionContent {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
  }

  &__groupLinks {
    overflow: auto;
    min-width: 33%;
    width: 33%;

    min-height: 190px;

    height: 300px;
    padding: 2px;
  }

  &__groupLinksItem {
    display: flex;
    width: 100%;
  }

  &__groupListContainer {
    min-width: 33%;
    width: 33%;
  }

  &__groupList {
    min-height: 190px;
    height: 300px;
    padding: 2px;
    overflow: auto;
  }

  &__groupItem {
    width: 100%;
    background-color: lightgray !important;
  }

  &__button {
    margin-top: 10px;
  }

  &__COAContainer {
    min-width: 33%;
    width: 33%;
  }

  &__COA {
    height: 300px;
    overflow: auto;
    &--selected {
      background-color: lightgray !important;
    }
  }
}