.contextMenu {
  background-color: white;

  width: 250px;
  border: 2px solid lightgray;
  border-radius: 4px;

  cursor: pointer;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.menuDivider {
  margin: 5px 0 5px 46.22px;
}

.menuItem {
  display: flex;
  width: 100%;
  
  &__icon {
    width: 30px;
    text-align: center;
  }

  &__textContent {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }

  &:hover {
    background-color: #FAFAFA;
  }

  &:active {
    background-color: #EFEFEF;
  }
}

.subMenuContainer {
  height: fit-content;
  &:hover {
    background-color: #FAFAFA;
  }

  &:active {
    background-color: #EFEFEF;
  }
}

.react-contextmenu {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  color: #373a3c;
  font-size: 16px;
  margin: 2px 0 0;
  min-width: 160px;
  outline: none;
  opacity: 0;
  padding: 5px 0;
  pointer-events: none;
  text-align: left;
  transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 9999;
}

.react-contextmenu-item {
  background: 0 0;
  border: 0;
  color: #373a3c;
  cursor: pointer;
  padding: 2.5px 20px;
  white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-submenu {
  width: 100%;
  padding: 0 0 0 25px;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
  content: ">";
  // display: inline-block;
  position: absolute;
  right: 7px;
}
