.excel {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;

  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.divider {
  margin: 0;
  background-color: #EEEEEE;
  border: none;
  color: #EEEEEE;
  height: 2px;
}