.formRow {
    width: 100%;
    padding-top: 1%;
    display: flex;
    justify-content: flex-start;
}

.tableContainer {
    display: flex;
    justify-content: space-between;
}

.tableWrapper {
    width: 50%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.formBody {
    padding: 1%;
}

.formActions {
    display: flex;
    justify-content: space-between;
}

.tabpanel {
    padding: 1%;
    padding-bottom: 2%;
}

.InputGroup {
    padding: 0.15%;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
}

.Mui-selected {
    outline: 'none'
}

.Mui-focused {
    outline: 'none'
}